@import url('https://fonts.googleapis.com/css2? family= Nunito:wght@400;700 & display=swap');

*{
    box-sizing: border-box; /* estilos generales */
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #fff59d;
}

.header{    
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo{
    cursor: pointer;
}


.header .logo img{    /* Altura y posicion del logo */
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{     /* animacion para el logo (no funciona) */
    transition: scale(1.2s);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{   /* esto es para posicionar las nav-links */
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{  /* animacion para las nav links (no funciona) */
    transform: scale(1.1s);
}

.header.nav-links a{   /* Esto es para el color y eliminar la raya de abajo de los nav-links (no funciona) */
    font-size: 700;
    color: beige;
    text-decoration: none;
}

.header .nav-links li a:hover{  
    color: #ffbc0e;
}

.header .btn button{     /* Forma y dibujo del btn */
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1; 
    border: none; 
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{       /* animacion del btn */
    background-color: #e2f1e2;
    color: #ffbc0e;
    transform: scale(1.1);
}
